<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dịch vụ</title>

        <!-- link css -->
        <link
            rel="stylesheet"
            href="../../icon/fontawesome-free-5.15.3-web/css/all.css"
        />
        <link rel="stylesheet" href="../../css/layout/index.css" />
        <link rel="stylesheet" href="../../css/layout/dichvu.css" />
        <script src="../../../public/js/giohang.js"></script>
    </head>
    <body>
        <header>
            <div class="content">
                <div class="logo">
                    <h1>MI MI HOTEL</h1>
                </div>
                <div class="checkin-account flex">
                    <div class="login flex">
                        <div class="us-avatar">
                            <a class="flex" href="#">
                                <div class="av-item icon-user m-10 flex">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="av-item img-user m-10 flex">
                                    <img src="../../img/sting.jpg" alt="" />
                                </div>
                            </a>
                        </div>
                        <div class="us-name m-10">
                            <a href="#">Login</a>
                        </div>
                    </div>
                    <div class="logout">
                        <a href="#"> <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <section class="main flex">
            <div class="sidebar">
                <header>
                    <h1>MENU</h1>
                </header>
                <div class="menu">
                    <ul class="main-menu">
                        <li class="menu-item">
                            <a href="#">Đặt/Trả phòng</a>
                        </li>
                        <li class="menu-item active">
                            <a href="#">Dịch vụ</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Quản lí nhân viên</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Quản lí khách hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Thống kê báo cáo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <header class="flex">
                    <h2>Dịch Vụ</h2>
                </header>
                <table class="service-list-table">
                    <tr>
                        <th colspan="6" class="tittle-table">
                            DANH SÁCH DỊCH VỤ
                            <button href="#">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th>STT</th>
                        <th>ẢNH</th>
                        <th>MÃ DỊCH VỤ</th>
                        <th>TÊN DỊCH VỤ</th>
                        <th>ĐƠN GIÁ</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="service-img-product">
                                <img src="../../img/sting.jpg" alt="" />
                            </div>
                        </td>
                        <td>#1</td>
                        <td>Nước suối</td>
                        <td>15.000đ</td>
                        <td>
                            <button class="btn btn-add">Thêm</button>
                        </td>
                    </tr>
                </table>
                <form action="">
                    <table class="service-bill-table">
                        <tr>
                            <th colspan="6">
                                Mã Khách hàng
                                <input class="MaKh" type="text" value="kh001" />
                            </th>
                        </tr>
                        <tr>
                            <th colspan="6">HOÁ ĐƠN DỊCH VỤ</th>
                        </tr>
                        <tr>
                            <th>STT</th>
                            <th>Tên dịch vụ</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Xóa dịch vụ</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Nước suối</td>
                            <td>15.000đ</td>
                            <td class="flex">
                                <button class="btn btn-minus flex">-</button>
                                <input class="amount" type="text" value="1" />
                                <button class="btn btn-plus flex">+</button>
                            </td>
                            <td>15.000đ</td>
                            <td><button class="btn bt-del">Xóa</button></td>
                        </tr>
                        <tr>
                            <th>
                                Tổng số lượng dịch vụ yêu cầu : <span>3</span>
                            </th>
                            <th colspan="5" rowspan="2"></th>
                        </tr>
                        <tr>
                            <th>Tổng tiền dịch vụ : <span>1000000đ</span></th>
                        </tr>
                    </table>
                    <div class="flex">
                        <input
                            class="btn btn-accept"
                            type="submit"
                            value="xác nhận"
                        />
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>
