.flex-di {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table,
tr,
th,
td {
    border: 0.5px solid #333;
    text-align: center;
    border-collapse: collapse;
}

th {
    font-size: 20px;
    height: 65px;
}

td {
    font-size: 20px;
    height: 65px;
}

.service-list-table,
.service-bill-table {
    margin: 0 auto;
    width: calc(100% - 20px);
}

.service-list-table {
    height: 55%;
    overflow-y: scroll;
    display: block;
}

.service-list-table thead {
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

.service-list-table th {
    background: #999;
}


.service-list-table th:nth-child(1),
.service-list-table td:nth-child(1) {
    width: 120px;
}

.service-list-table th:nth-child(2),
.service-list-table td:nth-child(2) {
    width: 10%;
}

.service-list-table th:nth-child(3),
.service-list-table td:nth-child(3) {
    width: 10%;
}

.service-list-table th:nth-child(4),
.service-list-table td:nth-child(4) {
    width: 20%;
}

.service-list-table th:nth-child(5),
.service-list-table td:nth-child(5) {
    width: 30%;
}

.service-list-table th:nth-child(6),
.service-list-table td:nth-child(6) {
    width: 20%;
}


.tittle-table {
    position: relative;
}

.tittle-table button {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    font-size: 18px;
    padding: 10px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: none;
}

.btn:hover {
    color: #f97f51;
}

.service-img-product {
    width: 80px;
    height: 65px;
    margin: 0 auto;
}

.service-img-product>img {
    width: 100%;
    height: 100%;
}

.service-bill-table {
    margin-top: 50px;
}

.MaKh {
    height: 40px;
    font-size: 20px;
    color: red;
}

.amount {
    font-size: 15px;
}

.btn-minus,
.btn-plus,
.amount {
    width: 35px;
    height: 35px;
    margin: 0 5px;
}

#gioDV {
    width: 100%;
    height: 50%;
}

#gioDV>form {
    width: 100%;
    height: 100%;
}

.service-bill-table {
    height: 150%;
    overflow-y: scroll;
    display: block;
}
.service-bill-table th span{
    color: red;
}

.service-bill-table thead {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}

/* .service-bill-table th:last-child {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
} */

.service-bill-table th {
    background: #999;
    border: 1px solid #333;
}


.service-bill-table th:nth-child(1),
.service-bill-table td:nth-child(1) {
    width: 175px;
}

.service-bill-table th:nth-child(2),
.service-bill-table td:nth-child(2) {
    width: 200px;
}

.service-bill-table th:nth-child(3),
.service-bill-table td:nth-child(3) {
    width: 200px;
}

.service-bill-table th:nth-child(4),
.service-bill-table td:nth-child(4) {
    width: 200px;
}

.service-bill-table th:nth-child(5),
.service-bill-table td:nth-child(5) {
    width: 200px;
}

.service-bill-table th:nth-child(6),
.service-bill-table td:nth-child(6) {
    width: 200px;
}

.btn-accept{
    margin: 10px 0;
}
.add-del{
    width: 100%;
  padding: 20px 0;
}
.add-del button,.edit-service{
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.add-del .add-service{
    background: green;
}
.add-del .del-service{
    background: red;
}
.edit-service{
    background: yellow;
}

.pop-up-service {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    background: rgba(189, 195, 199, 1);
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}

.pop-up-service header,
.pop-up-del-service header {
    width: 100%;
    height: 60px;
    background: #e66767;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.pop-up-service header h1,
.pop-up-del-service header h1 {
    grid-column: 2/6;
}

.pop-up-service header .close-service,
.close-del,
.close-edit {
    grid-column: 6/7;
}

.pop-up-service .close-service button,
.close-del button,
.close-edit button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.pop-up-service .content,
.pop-up-del-service .content {
    width: 100%;
    height: 100%;
}

.pop-up-service form,
.pop-up-del-service form {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pop-up-service label {
    font-weight: bold;
}

form .btn-submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

form .btn-submit input {
    padding: 10px 20px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #000;
    font-size: 20px;
}

form .btn-submit input:hover {
    background: #000;
    color: #fff;
}

.pop-up-del-service {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background: rgba(189, 195, 199, 1);
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}

.pop-up-del-service .content {
    padding-top: 50px;
}