* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(120deg, #70a1ff, #e66767);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;

}

.center>.tittle {
   padding-top: 50px;
}

.center>form {
    padding-bottom: 50px;
    width: 80%;
}

form>.txt-field {
    position: relative;
    border-bottom: 2px solid #e66767;
    margin: 30px 0;
}

.txt-field>input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 25px;
}

.txt-field>label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #555;
    pointer-events: none;
    transition: all .3s linear;
}

.txt-field>input:focus~label,
.txt-field>input:valid~label {
    top: -10%;
    color: #e66767;
}
.bt-submit{
    width: 100%;
}
.bt-submit>input{
    cursor: pointer;
    background: #000;
    color: #fff;
    padding: 15px 50px;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 50px;
    transition: all .3s linear;
}
